@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rethink Sans';
  src: url('/fonts/RethinkSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100dvh;
  font-family: 'Rethink Sans', Arial, Helvetica, sans-serif;
  font-weight: 500;
}

/* Optional: if you want the background to extend when content is shorter than viewport */
html {
  background: rgb(var(--background-rgb));
  min-height: 100dvh;
}

.main-gradient {
  background-image: url('/gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Navbar styles */
.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(var(--background-rgb), 0.8);
  backdrop-filter: blur(8px);
}

/* H1 styles */
h1.text-5xl,
h1.text-7xl,
h1 {
  font-family: 'Recoleta', serif;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5rem;
  color: rgb(var(--foreground-rgb));
}

.subtitle {
  color: rgba(0, 0, 0, 0.30);
  text-align: center;
  font-family: "Rethink Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0.32px;
  max-width: 600px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .subtitle {
    color: rgba(255, 255, 255, 0.30);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}
